.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #121213;
  /* background-color: transparent; */
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
}
.logo img {
  height: 70px;   /* adjust height as needed */
  width: auto;
  display: block;
  object-fit: contain;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  color: #61dafb;
}
